In [4]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import time

In [5]:
df = pd.read_csv('./data/marathon_results_2016.csv',usecols=['Bib','40K',
                'Half','Pace','Age','M/F','Country','State','City'],
                index_col=['Bib'])

df['40K'] = df['40K'].replace('-',0)
df['Half'] = df['Half'].replace('-',0)

df['40K'] = df['40K'].apply(pd.to_timedelta)
df['Half'] = df['Half'].apply(pd.to_timedelta)

df['TotalSeconds'] = df['40K'].apply(lambda x: timedelta.total_seconds(x))
df['HalfSeconds'] = df['Half'].apply(lambda x: timedelta.total_seconds(x))

df['TotalSeconds'] = df['TotalSeconds'].replace(0,np.nan)
df['HalfSeconds'] = df['HalfSeconds'].replace(0,np.nan)

df.head()

,Age,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,,
5,21,M,Addis Ababa,NaN,ETH,0 days 01:06:45,0 days 02:05:59,0:05:04,7559.0,4005.0
1,26,M,Ambo,NaN,ETH,0 days 01:06:46,0 days 02:05:59,0:05:06,7559.0,4006.0
6,31,M,Addis Ababa,NaN,ETH,0 days 01:06:44,0 days 02:06:47,0:05:07,7607.0,4004.0
11,33,M,Kitale,NaN,KEN,0 days 01:06:46,0 days 02:06:47,0:05:07,7607.0,4006.0
14,23,M,Eldoret,NaN,KEN,0 days 01:06:46,0 days 02:08:11,0:05:11,7691.0,4006.0

In [8]:
df=df.head(100)
group_city = df.groupby(by=['City'])

In [13]:
group_city.head()

,Age,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,,
5,21,M,Addis Ababa,NaN,ETH,0 days 01:06:45,0 days 02:05:59,0:05:04,7559.0,4005.0
1,26,M,Ambo,NaN,ETH,0 days 01:06:46,0 days 02:05:59,0:05:06,7559.0,4006.0
6,31,M,Addis Ababa,NaN,ETH,0 days 01:06:44,0 days 02:06:47,0:05:07,7607.0,4004.0
11,33,M,Kitale,NaN,KEN,0 days 01:06:46,0 days 02:06:47,0:05:07,7607.0,4006.0
14,23,M,Eldoret,NaN,KEN,0 days 01:06:46,0 days 02:08:11,0:05:11,7691.0,4006.0
...,...,...,...,...,...,...,...,...,...,...
216,25,M,Chicago,IL,USA,0 days 01:17:30,0 days 02:29:15,0:06:01,8955.0,4650.0
F17,26,F,Blowing Rock,NC,USA,0 days 01:17:01,0 days 02:28:58,0:06:01,8938.0,4621.0
422,27,M,Hanover,NH,USA,0 days 01:17:47,0 days 02:29:25,0:06:01,8965.0,4667.0
82,44,M,Seattle,WA,USA,0 days 01:14:19,0 days 02:29:09,0:06:01,8949.0,4459.0
468,44,M,Concord,MA,USA,0 days 01:15:33,0 days 02:28:54,0:06:02,8934.0,4533.0

In [11]:
for city in group_city:
    print(city[0])

Aberdeen
Addis Ababa
Akron
Albuquerque
Allston
Ambo
Anchorage
Ann Arbor
Apple Valley
Arlington
Arsi
Asela
Atmore
Auburn
Auckland
Belluno
Bend
Binghamton
Blowing Rock
Boston
Boulder
Brighton
Cambridge
Catonsville
Chicago
Colorado Springs
Concord
Dallas
Danville
Downey
Eldoret
Eugene
Goleta
Guelph
Hanover
Harare
Havre De Grace
Hull
Iten
Jurmala
Kapchorwa
Kearney
Keiyo
Kitale
Lake Elmo
Las Cruces
Liteshoa
Louisville
Loveland
Malta
Menlo Park
Mill Valley
Mobile
Moorhead
New Paltz
Newmarket
Newton
Nijmegen
Pasadena
Penapolis, Sao Paulo
Perrysburg
Philadelphia
Phoenix
Pittsburgh
Pocatello
Portland
Quebec
Rochester
San Diego
Sao Paulo, Sp
Seattle
Somerville
South Bend
St. Louis
Superior
Tokyo
Vernon Hills
Vitoria-Gasteiz
Washington
West Pokot
Whitman
Wolcottville
Yucaipa

C:\Users\mykas\AppData\Local\Temp\ipykernel_5212\356049501.py:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for city in group_city:

In [17]:
for city, city_data in group_city:
    print(city[0],len(city_data))

A 1
A 4
A 1
A 1
A 2
A 1
A 1
A 1
A 1
A 1
A 2
A 1
A 1
A 1
A 1
B 1
B 1
B 1
B 1
B 1
B 2
B 1
C 2
C 1
C 2
C 2
C 1
D 1
D 1
D 1
E 4
E 1
G 1
G 1
H 1
H 1
H 1
H 1
I 1
J 1
K 1
K 1
K 1
K 1
L 1
L 1
L 2
L 1
L 1
M 1
M 1
M 1
M 1
M 1
N 1
N 1
N 1
N 1
P 1
P 1
P 1
P 1
P 1
P 1
P 1
P 2
Q 1
R 1
S 1
S 1
S 1
S 1
S 1
S 1
S 1
T 3
V 1
V 1
W 2
W 1
W 1
W 1
Y 1

C:\Users\mykas\AppData\Local\Temp\ipykernel_5212\3619525460.py:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for city, city_data in group_city:

In [20]:
for city, city_data in group_city:
    print(city[0],
          city_data.nsmallest(1,'TotalSeconds'))

A      Age M/F      City State Country            Half             40K     Pace  \
Bib
139   37   M  Aberdeen    SD     USA 0 days 01:13:17 0 days 02:26:45  0:05:57

     TotalSeconds  HalfSeconds
Bib
139        8805.0       4397.0
A      Age M/F         City State Country            Half             40K  \
Bib
5     21   M  Addis Ababa   NaN     ETH 0 days 01:06:45 0 days 02:05:59

        Pace  TotalSeconds  HalfSeconds
Bib
5    0:05:04        7559.0       4005.0
A      Age M/F   City State Country            Half             40K     Pace  \
Bib
182   27   M  Akron    OH     USA 0 days 01:14:35 0 days 02:27:44  0:05:58

     TotalSeconds  HalfSeconds
Bib
182        8864.0       4475.0
A      Age M/F         City State Country            Half             40K  \
Bib
132   26   M  Albuquerque    NM     USA 0 days 01:16:01 0 days 02:26:41

        Pace  TotalSeconds  HalfSeconds
Bib
132  0:05:58        8801.0       4561.0
A      Age M/F     City State Country            Half             40K     Pace  \
Bib
102   28   M  Allston    MA     USA 0 days 01:14:35 0 days 02:23:57  0:05:50

     TotalSeconds  HalfSeconds
Bib
102        8637.0       4475.0
A      Age M/F  City State Country            Half             40K     Pace  \
Bib
1     26   M  Ambo   NaN     ETH 0 days 01:06:46 0 days 02:05:59  0:05:06

     TotalSeconds  HalfSeconds
Bib
1          7559.0       4006.0
A      Age M/F       City State Country            Half             40K  \
Bib
210   23   M  Anchorage    AK     USA 0 days 01:16:57 0 days 02:29:13

        Pace  TotalSeconds  HalfSeconds
Bib
210  0:06:01        8953.0       4617.0
A      Age M/F       City State Country            Half             40K  \
Bib
31    24   M  Ann Arbor    MI     USA 0 days 01:11:26 0 days 02:20:35

        Pace  TotalSeconds  HalfSeconds
Bib
31   0:05:42        8435.0       4286.0
A      Age M/F          City State Country            Half             40K  \
Bib
288   30   M  Apple Valley    MN     USA 0 days 01:17:23 0 days 02:28:12

        Pace  TotalSeconds  HalfSeconds
Bib
288  0:05:58        8892.0       4643.0
A      Age M/F       City State Country            Half             40K  \
Bib
78    42   M  Arlington    VA     USA 0 days 01:12:32 0 days 02:22:53

        Pace  TotalSeconds  HalfSeconds
Bib
78   0:05:48        8573.0       4352.0
A      Age M/F  City State Country            Half             40K     Pace  \
Bib
F4    31   F  Arsi   NaN     ETH 0 days 01:15:32 0 days 02:21:56  0:05:44

     TotalSeconds  HalfSeconds
Bib
F4         8516.0       4532.0
A      Age M/F   City State Country            Half             40K     Pace  \
Bib
F15   28   F  Asela   NaN     ETH 0 days 01:15:32 0 days 02:25:49  0:05:54

     TotalSeconds  HalfSeconds
Bib
F15        8749.0       4532.0
A      Age M/F    City State Country            Half             40K     Pace  \
Bib
217   24   M  Atmore    AL     USA 0 days 01:16:05 0 days 02:23:37  0:05:47

     TotalSeconds  HalfSeconds
Bib
217        8617.0       4565.0
A      Age M/F    City State Country            Half             40K     Pace  \
Bib
154   35   M  Auburn    NY     USA 0 days 01:14:34 0 days 02:27:46  0:05:59

     TotalSeconds  HalfSeconds
Bib
154        8866.0       4474.0
A      Age M/F      City State Country            Half             40K     Pace  \
Bib
124   25   M  Auckland   NaN     NZL 0 days 01:12:31 0 days 02:24:55  0:05:53

     TotalSeconds  HalfSeconds
Bib
124        8695.0       4351.0
B      Age M/F     City State Country            Half             40K     Pace  \
Bib
75    48   M  Belluno   NaN     ITA 0 days 01:10:45 0 days 02:19:33  0:05:38

     TotalSeconds  HalfSeconds
Bib
75         8373.0       4245.0
B      Age M/F  City State Country            Half             40K     Pace  \
Bib
280   37   M  Bend    OR     USA 0 days 01:17:09 0 days 02:26:59  0:05:55

     TotalSeconds  HalfSeconds
Bib
280        8819.0       4629.0
B      Age M/F        City State Country            Half             40K  \
Bib
104   23   M  Binghamton    NY     USA 0 days 01:12:02 0 days 02:19:59

        Pace  TotalSeconds  HalfSeconds
Bib
104  0:05:39        8399.0       4322.0
B      Age M/F          City State Country            Half             40K  \
Bib
F17   26   F  Blowing Rock    NC     USA 0 days 01:17:01 0 days 02:28:58

        Pace  TotalSeconds  HalfSeconds
Bib
F17  0:06:01        8938.0       4621.0
B      Age M/F    City State Country            Half             40K     Pace  \
Bib
247   24   M  Boston    MA     USA 0 days 01:16:23 0 days 02:25:57  0:05:54

     TotalSeconds  HalfSeconds
Bib
247        8757.0       4583.0
B      Age M/F     City State Country            Half             40K     Pace  \
Bib
79    40   M  Boulder    CO     USA 0 days 01:10:15 0 days 02:16:51  0:05:32

     TotalSeconds  HalfSeconds
Bib
79         8211.0       4215.0
B      Age M/F      City State Country            Half             40K     Pace  \
Bib
152   27   M  Brighton    MA     USA 0 days 01:13:49 0 days 02:22:05  0:05:45

     TotalSeconds  HalfSeconds
Bib
152        8525.0       4429.0
C      Age M/F       City State Country            Half             40K  \
Bib
103   26   M  Cambridge    MA     USA 0 days 01:12:27 0 days 02:19:56

        Pace  TotalSeconds  HalfSeconds
Bib
103  0:05:39        8396.0       4347.0
C       Age M/F         City State Country            Half             40K  \
Bib
1333   28   M  Catonsville    MD     USA 0 days 01:13:27 0 days 02:27:53

         Pace  TotalSeconds  HalfSeconds
Bib
1333  0:06:00        8873.0       4407.0
C      Age M/F     City State Country            Half             40K     Pace  \
Bib
742   26   M  Chicago    IL     USA 0 days 01:13:39 0 days 02:25:41  0:05:53

     TotalSeconds  HalfSeconds
Bib
742        8741.0       4419.0
C      Age M/F              City State Country            Half             40K  \
Bib
21    31   M  Colorado Springs    CO     USA 0 days 01:08:24 0 days 02:14:39

        Pace  TotalSeconds  HalfSeconds
Bib
21   0:05:26        8079.0       4104.0
C      Age M/F     City State Country            Half             40K     Pace  \
Bib
468   44   M  Concord    MA     USA 0 days 01:15:33 0 days 02:28:54  0:06:02

     TotalSeconds  HalfSeconds
Bib
468        8934.0       4533.0
D      Age M/F    City State Country            Half             40K     Pace  \
Bib
43    28   M  Dallas    TX     USA 0 days 01:07:57 0 days 02:12:47  0:05:25

     TotalSeconds  HalfSeconds
Bib
43         7967.0       4077.0
D      Age M/F      City State Country            Half             40K     Pace  \
Bib
153   29   M  Danville    VA     USA 0 days 01:12:34 0 days 02:24:15  0:05:52

     TotalSeconds  HalfSeconds
Bib
153        8655.0       4354.0
D      Age M/F    City State Country            Half             40K     Pace  \
Bib
229   42   M  Downey    CA     USA 0 days 01:16:16 0 days 02:27:27  0:05:58

     TotalSeconds  HalfSeconds
Bib
229        8847.0       4576.0
E      Age M/F     City State Country            Half             40K     Pace  \
Bib
14    23   M  Eldoret   NaN     KEN 0 days 01:06:46 0 days 02:08:11  0:05:11

     TotalSeconds  HalfSeconds
Bib
14         7691.0       4006.0
E      Age M/F    City State Country            Half             40K     Pace  \
Bib
266   22   M  Eugene    OR     USA 0 days 01:13:53 0 days 02:24:35  0:05:52

     TotalSeconds  HalfSeconds
Bib
266        8675.0       4433.0
G      Age M/F    City State Country            Half             40K     Pace  \
Bib
41    33   M  Goleta    CA     USA 0 days 01:11:44 0 days 02:23:54  0:05:50

     TotalSeconds  HalfSeconds
Bib
41         8634.0       4304.0
G      Age M/F    City State Country            Half             40K     Pace  \
Bib
228   34   M  Guelph    ON     CAN 0 days 01:16:12 0 days 02:25:57  0:05:52

     TotalSeconds  HalfSeconds
Bib
228        8757.0       4572.0
H      Age M/F     City State Country            Half             40K     Pace  \
Bib
422   27   M  Hanover    NH     USA 0 days 01:17:47 0 days 02:29:25  0:06:01

     TotalSeconds  HalfSeconds
Bib
422        8965.0       4667.0
H      Age M/F    City State Country            Half             40K     Pace  \
Bib
16    33   M  Harare   NaN     ZIM 0 days 01:06:47 0 days 02:11:48  0:05:26

     TotalSeconds  HalfSeconds
Bib
16         7908.0       4007.0
H      Age M/F            City State Country            Half             40K  \
Bib
171   38   M  Havre De Grace    MD     USA 0 days 01:15:35 0 days 02:28:55

        Pace  TotalSeconds  HalfSeconds
Bib
171  0:06:01        8935.0       4535.0
H      Age M/F  City State Country            Half             40K     Pace  \
Bib
271   25   M  Hull    MA     USA 0 days 01:12:57 0 days 02:23:40  0:05:48

     TotalSeconds  HalfSeconds
Bib
271        8620.0       4377.0
I      Age M/F  City State Country            Half             40K     Pace  \
Bib
F11   27   F  Iten   NaN     KEN 0 days 01:15:32 0 days 02:22:19  0:05:46

     TotalSeconds  HalfSeconds
Bib
F11        8539.0       4532.0
J      Age M/F     City State Country            Half             40K     Pace  \
Bib
F9    39   F  Jurmala   NaN     LAT 0 days 01:15:59 0 days 02:24:35  0:05:49

     TotalSeconds  HalfSeconds
Bib
F9         8675.0       4559.0
K      Age M/F       City State Country            Half             40K  \
Bib
15    29   M  Kapchorwa   NaN     UGA 0 days 01:06:45 0 days 02:14:33

        Pace  TotalSeconds  HalfSeconds
Bib
15   0:05:32        8073.0       4005.0
K      Age M/F     City State Country            Half             40K     Pace  \
Bib
976   26   M  Kearney    NE     USA 0 days 01:08:42 0 days 02:19:14  0:05:40

     TotalSeconds  HalfSeconds
Bib
976        8354.0       4122.0
K      Age M/F   City State Country            Half             40K     Pace  \
Bib
F10   23   F  Keiyo   NaN     KEN 0 days 01:15:32 0 days 02:23:57  0:05:51

     TotalSeconds  HalfSeconds
Bib
F10        8637.0       4532.0
K      Age M/F    City State Country            Half             40K     Pace  \
Bib
11    33   M  Kitale   NaN     KEN 0 days 01:06:46 0 days 02:06:47  0:05:07

     TotalSeconds  HalfSeconds
Bib
11         7607.0       4006.0
L      Age M/F       City State Country            Half             40K  \
Bib
28    37   M  Lake Elmo    MN     USA 0 days 01:16:41 0 days 02:26:14

        Pace  TotalSeconds  HalfSeconds
Bib
28   0:05:54        8774.0       4601.0
L      Age M/F        City State Country            Half             40K  \
Bib
177   24   M  Las Cruces    NM     USA 0 days 01:12:46 0 days 02:21:07

        Pace  TotalSeconds  HalfSeconds
Bib
177  0:05:42        8467.0       4366.0
L      Age M/F      City State Country            Half             40K     Pace  \
Bib
F6    29   F  Liteshoa   NaN     ETH 0 days 01:15:32 0 days 02:21:49  0:05:42

     TotalSeconds  HalfSeconds
Bib
F6         8509.0       4532.0
L      Age M/F        City State Country            Half             40K  \
Bib
211   39   M  Louisville    CO     USA 0 days 01:17:18 0 days 02:28:51

        Pace  TotalSeconds  HalfSeconds
Bib
211  0:06:00        8931.0       4638.0
L      Age M/F      City State Country            Half             40K     Pace  \
Bib
267   33   M  Loveland    CO     USA 0 days 01:15:01 0 days 02:28:27  0:06:00

     TotalSeconds  HalfSeconds
Bib
267        8907.0       4501.0
M      Age M/F   City State Country            Half             40K     Pace  \
Bib
121   28   M  Malta    NY     USA 0 days 01:13:15 0 days 02:21:26  0:05:43

     TotalSeconds  HalfSeconds
Bib
121        8486.0       4395.0
M      Age M/F        City State Country            Half             40K  \
Bib
225   24   M  Menlo Park    CA     USA 0 days 01:13:54 0 days 02:26:01

        Pace  TotalSeconds  HalfSeconds
Bib
225  0:05:55        8761.0       4434.0
M      Age M/F         City State Country            Half             40K  \
Bib
119   38   M  Mill Valley    CA     USA 0 days 01:12:34 0 days 02:20:27

        Pace  TotalSeconds  HalfSeconds
Bib
119  0:05:40        8427.0       4354.0
M      Age M/F    City State Country            Half             40K     Pace  \
Bib
142   30   M  Mobile    AL     USA 0 days 01:13:42 0 days 02:26:24  0:05:54

     TotalSeconds  HalfSeconds
Bib
142        8784.0       4422.0
M      Age M/F      City State Country            Half             40K     Pace  \
Bib
133   26   M  Moorhead    MN     USA 0 days 01:14:17 0 days 02:28:14  0:06:00

     TotalSeconds  HalfSeconds
Bib
133        8894.0       4457.0
N      Age M/F       City State Country            Half             40K  \
Bib
27    30   M  New Paltz    NY     USA 0 days 01:08:48 0 days 02:16:22

        Pace  TotalSeconds  HalfSeconds
Bib
27   0:05:32        8182.0       4128.0
N      Age M/F       City State Country            Half             40K  \
Bib
114   24   M  Newmarket    NH     USA 0 days 01:11:58 0 days 02:24:03

        Pace  TotalSeconds  HalfSeconds
Bib
114  0:05:50        8643.0       4318.0
N      Age M/F    City State Country            Half             40K     Pace  \
Bib
820   24   M  Newton    MA     USA 0 days 01:13:51 0 days 02:23:50  0:05:48

     TotalSeconds  HalfSeconds
Bib
820        8630.0       4431.0
N      Age M/F      City State Country            Half             40K     Pace  \
Bib
17    27   M  Nijmegen   NaN     NED 0 days 01:06:47 0 days 02:08:38  0:05:16

     TotalSeconds  HalfSeconds
Bib
17         7718.0       4007.0
P       Age M/F      City State Country            Half             40K  \
Bib
1221   24   M  Pasadena    CA     USA 0 days 01:13:38 0 days 02:22:23

         Pace  TotalSeconds  HalfSeconds
Bib
1221  0:05:45        8543.0       4418.0
P      Age M/F                  City State Country            Half  \
Bib
19    34   M  Penapolis, Sao Paulo   NaN     BRA 0 days 01:06:47

                40K     Pace  TotalSeconds  HalfSeconds
Bib
19  0 days 02:16:29  0:05:32        8189.0       4007.0
P      Age M/F        City State Country            Half             40K  \
Bib
116   24   M  Perrysburg    OH     USA 0 days 01:14:15 0 days 02:27:03

        Pace  TotalSeconds  HalfSeconds
Bib
116  0:05:58        8823.0       4455.0
P      Age M/F          City State Country            Half             40K  \
Bib
452   25   M  Philadelphia    PA     USA 0 days 01:14:31 0 days 02:27:25

        Pace  TotalSeconds  HalfSeconds
Bib
452  0:05:58        8845.0       4471.0
P      Age M/F     City State Country            Half             40K     Pace  \
Bib
86    43   M  Phoenix    AZ     USA 0 days 01:14:55 0 days 02:26:58  0:05:58

     TotalSeconds  HalfSeconds
Bib
86         8818.0       4495.0
P      Age M/F        City State Country            Half             40K  \
Bib
221   23   M  Pittsburgh    PA     USA 0 days 01:15:53 0 days 02:27:53

        Pace  TotalSeconds  HalfSeconds
Bib
221  0:06:00        8873.0       4553.0
P      Age M/F       City State Country            Half             40K  \
Bib
289   39   M  Pocatello    ID     USA 0 days 01:14:06 0 days 02:24:17

        Pace  TotalSeconds  HalfSeconds
Bib
289  0:05:51        8657.0       4446.0
P      Age M/F      City State Country            Half             40K     Pace  \
Bib
249   34   M  Portland    OR     USA 0 days 01:13:54 0 days 02:21:20  0:05:43

     TotalSeconds  HalfSeconds
Bib
249        8480.0       4434.0
Q      Age M/F    City State Country            Half             40K     Pace  \
Bib
77    41   M  Quebec    QC     CAN 0 days 01:13:38 0 days 02:26:05  0:05:54

     TotalSeconds  HalfSeconds
Bib
77         8765.0       4418.0
R      Age M/F       City State Country            Half             40K  \
Bib
194   26   M  Rochester    NY     USA 0 days 01:14:20 0 days 02:26:32

        Pace  TotalSeconds  HalfSeconds
Bib
194  0:05:56        8792.0       4460.0
S      Age M/F       City State Country            Half             40K  \
Bib
150   29   M  San Diego    CA     USA 0 days 01:15:05 0 days 02:26:46

        Pace  TotalSeconds  HalfSeconds
Bib
150  0:05:56        8806.0       4505.0
S      Age M/F           City State Country            Half             40K  \
Bib
76    44   M  Sao Paulo, Sp   NaN     BRA 0 days 01:12:08 0 days 02:23:37

        Pace  TotalSeconds  HalfSeconds
Bib
76   0:05:53        8617.0       4328.0
S      Age M/F     City State Country            Half             40K     Pace  \
Bib
82    44   M  Seattle    WA     USA 0 days 01:14:19 0 days 02:29:09  0:06:01

     TotalSeconds  HalfSeconds
Bib
82         8949.0       4459.0
S      Age M/F        City State Country            Half             40K  \
Bib
986   39   M  Somerville    MA     USA 0 days 01:12:48 0 days 02:26:36

        Pace  TotalSeconds  HalfSeconds
Bib
986  0:05:55        8796.0       4368.0
S      Age M/F        City State Country            Half             40K  \
Bib
306   30   M  South Bend    IN     USA 0 days 01:17:21 0 days 02:26:29

        Pace  TotalSeconds  HalfSeconds
Bib
306  0:05:54        8789.0       4641.0
S      Age M/F       City State Country            Half             40K  \
Bib
195   30   M  St. Louis    MO     USA 0 days 01:12:31 0 days 02:26:30

        Pace  TotalSeconds  HalfSeconds
Bib
195  0:05:57        8790.0       4351.0
S      Age M/F      City State Country            Half             40K     Pace  \
Bib
F18   26   F  Superior    CO     USA 0 days 01:17:01 0 days 02:27:15  0:05:55

     TotalSeconds  HalfSeconds
Bib
F18        8835.0       4621.0
T      Age M/F   City State Country            Half             40K     Pace  \
Bib
30    32   M  Tokyo   NaN     JPN 0 days 01:06:47 0 days 02:17:06  0:05:33

     TotalSeconds  HalfSeconds
Bib
30         8226.0       4007.0
V      Age M/F          City State Country            Half             40K  \
Bib
461   23   M  Vernon Hills    IL     USA 0 days 01:17:16 0 days 02:29:11

        Pace  TotalSeconds  HalfSeconds
Bib
461  0:06:01        8951.0       4636.0
V      Age M/F             City State Country            Half             40K  \
Bib
84    53   M  Vitoria-Gasteiz   NaN     ESP 0 days 01:13:20 0 days 02:22:44

        Pace  TotalSeconds  HalfSeconds
Bib
84   0:05:46        8564.0       4400.0
W      Age M/F        City State Country            Half             40K  \
Bib
122   29   M  Washington    DC     USA 0 days 01:14:00 0 days 02:23:21

        Pace  TotalSeconds  HalfSeconds
Bib
122  0:05:47        8601.0       4440.0
W      Age M/F        City State Country            Half             40K  \
Bib
F7    33   F  West Pokot   NaN     KEN 0 days 01:15:33 0 days 02:24:49

        Pace  TotalSeconds  HalfSeconds
Bib
F7   0:05:52        8689.0       4533.0
W      Age M/F     City State Country            Half             40K     Pace  \
Bib
196   34   M  Whitman    MA     USA 0 days 01:14:13 0 days 02:25:30  0:05:53

     TotalSeconds  HalfSeconds
Bib
196        8730.0       4453.0
W      Age M/F          City State Country            Half             40K  \
Bib
38    28   M  Wolcottville    IN     USA 0 days 01:11:40 0 days 02:19:24

        Pace  TotalSeconds  HalfSeconds
Bib
38   0:05:37        8364.0       4300.0
Y      Age M/F     City State Country            Half             40K     Pace  \
Bib
117   26   M  Yucaipa    CA     USA 0 days 01:10:37 0 days 02:23:48  0:05:54

     TotalSeconds  HalfSeconds
Bib
117        8628.0       4237.0

C:\Users\mykas\AppData\Local\Temp\ipykernel_5212\937493244.py:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for city, city_data in group_city:

In [21]:
the_best_per_city = pd.DataFrame()

In [22]:
for city,city_data in group_city:
    the_best_per_city = pd.concat([the_best_per_city,
                                 city_data.nsmallest(1,'TotalSeconds')])

C:\Users\mykas\AppData\Local\Temp\ipykernel_5212\1667851925.py:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for city,city_data in group_city:

In [23]:
the_best_per_city.head(5)

,Age,M/F,City,State,Country,Half,40K,Pace,TotalSeconds,HalfSeconds
Bib,,,,,,,,,,
139,37,M,Aberdeen,SD,USA,0 days 01:13:17,0 days 02:26:45,0:05:57,8805.0,4397.0
5,21,M,Addis Ababa,NaN,ETH,0 days 01:06:45,0 days 02:05:59,0:05:04,7559.0,4005.0
182,27,M,Akron,OH,USA,0 days 01:14:35,0 days 02:27:44,0:05:58,8864.0,4475.0
132,26,M,Albuquerque,NM,USA,0 days 01:16:01,0 days 02:26:41,0:05:58,8801.0,4561.0
102,28,M,Allston,MA,USA,0 days 01:14:35,0 days 02:23:57,0:05:50,8637.0,4475.0