In [1]:
import pandas as pd
import numpy as np

suppliers = pd.read_csv('./data/northwind-mongo-master/suppliers.csv',
                       usecols=['SupplierID','CompanyName','City'])
products = pd.read_csv('./data/northwind-mongo-master/products.csv',
                      usecols=['ProductID','ProductName','SupplierID'])

In [2]:
suppliers.merge(products,on=['SupplierID'])

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
1,1,Exotic Liquids,London,2,Chang
2,1,Exotic Liquids,London,3,Aniseed Syrup
3,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
4,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...,...
72,27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
73,28,Gai pâturage,Annecy,59,Raclette Courdavault
74,28,Gai pâturage,Annecy,60,Camembert Pierrot
75,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
76,29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [3]:
suppliers.set_index('SupplierID',inplace=True)
suppliers.head()

                                   CompanyName         City
SupplierID
1                               Exotic Liquids       London
2                   New Orleans Cajun Delights  New Orleans
3                    Grandma Kelly's Homestead    Ann Arbor
4                                Tokyo Traders        Tokyo
5           Cooperativa de Quesos 'Las Cabras'       Oviedo

In [6]:
suppliers.merge(products,left_index=True,right_on='SupplierID')

,CompanyName,City,ProductID,ProductName
SupplierID,,,,
1,Exotic Liquids,London,1,Chai
1,Exotic Liquids,London,2,Chang
1,Exotic Liquids,London,3,Aniseed Syrup
2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...
27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
28,Gai pâturage,Annecy,59,Raclette Courdavault
28,Gai pâturage,Annecy,60,Camembert Pierrot
29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [4]:
products.set_index('SupplierID',inplace=True)
products.head()

            ProductID                   ProductName
SupplierID
1                   1                          Chai
1                   2                         Chang
1                   3                 Aniseed Syrup
2                   4  Chef Anton's Cajun Seasoning
2                   5        Chef Anton's Gumbo Mix

In [7]:
suppliers.merge(products,left_index=True,right_index=True)

,CompanyName,City,ProductID,ProductName
SupplierID,,,,
1,Exotic Liquids,London,1,Chai
1,Exotic Liquids,London,2,Chang
1,Exotic Liquids,London,3,Aniseed Syrup
2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...
27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
28,Gai pâturage,Annecy,59,Raclette Courdavault
28,Gai pâturage,Annecy,60,Camembert Pierrot
29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [8]:
suppliers.reset_index(inplace=True)

In [9]:
suppliers.merge(products,left_on='SupplierID',right_index=True)

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
0,1,Exotic Liquids,London,2,Chang
0,1,Exotic Liquids,London,3,Aniseed Syrup
1,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
1,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix
...,...,...,...,...,...
26,27,Escargots Nouveaux,Montceau,58,Escargots de Bourgogne
27,28,Gai pâturage,Annecy,59,Raclette Courdavault
27,28,Gai pâturage,Annecy,60,Camembert Pierrot
28,29,Forêts d'érables,Ste-Hyacinthe,61,Sirop d'érable
28,29,Forêts d'érables,Ste-Hyacinthe,62,Tarte au sucre

In [10]:
products.reset_index(inplace=True)

In [ ]:
products.rename()